body {
    font-family: sans-serif;
}

.result {
    font-size: 20px;
    width: 300px;
    padding: 25px;
    color: white;
    text-align: center;
    transition: background-color 300ms;
}

.generation, .population, .score {
    position: fixed;
    left: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;

    & > span {
        color: green;
    }
}

.generation {
    top: 0px;
}

.population {
    top: 50px;
}

.score {
    top: 100px;
}

@import './Element';